node_modules

dist
*.tsbuildinfo

coverage
test
**/*.spec.ts
**/*.e2e-spec.ts
tsconfig.spec.json

.prettierrc
eslint.config.mjs
bruno

.env
.env.*

.git
.gitignore

docker-compose.yml
.dockerignore

.vscode
.idea
.DS_Store
Thumbs.db

*.log
logs
tmp
temp
uploads

.scannerwork

*.md
docs
